
body{
	padding-top: 60px;
}

.navbar-title{
	font-size: 18px;
	text-align: center;
	color: #C0C0C0;
	padding: 15px;
	line-height: 20px;
}

.glyphicon{
	cursor: pointer;
}

img{
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
